<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <p class="title">Demo számla</p>
                <form>
                    <div class="field">
                        <label class="label">Számlaszám</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számlaszám">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>