<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Tárgyi eszközök</p>
                </div>
            </div>
            <div class="level-right">
                <button class="button is-success is-outlined" routerLink="./new">Új eszköz</button>
            </div>
        </nav>
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="subtitle">Éves ÉCS</p>
                            <p class="title">1.750.000</p>
                        </article>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-primary">
                            <p class="subtitle">Aktuális havi ÉCS</p>
                            <p class="title">250.000</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <table class="table is-fullwidth is-small">
            <thead>
                <tr>
                    <th class="is-narrow">#</th>
                    <th class="is-narrow">Név</th>
                    <th>Leírása</th>
                    <th class="is-narrow">ÉCS kulcs</th>
                    <th class="is-narrow">Maradványérték</th>
                    <th class="is-narrow">Aktiválás dátuma</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <a routerLink="./1">Audi LBG397</a>
                    </td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quidem.</td>
                    <td>15%</td>
                    <td>500.000</td>
                    <td>2009.08.01</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>