<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Tárgyi eszközök</p>
                </div>
            </div>
            <div class="level-right">
                <button class="button is-success is-outlined" routerLink="./new">Új eszköz</button>
            </div>
        </nav>
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="subtitle">Éves ÉCS</p>
                            <p class="title">1.750.000</p>
                        </article>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-primary">
                            <p class="subtitle">Aktuális havi ÉCS</p>
                            <p class="title">250.000</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <table class="table is-striped">
            <thead>
                <tr class="is-size-7-touch">
                    <th>Elszámolási számla</th>
                    <th>Eszközök száma</th>
                    <th>Halmozott ÉCS</th>
                    <th>Aktuális havi ÉCS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="is-size-7-touch">
                    <td>11</td>
                    <td>2</td>
                    <td>10 000</td>
                    <td>2 500</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="is-size-7-touch">
                    <td></td>
                    <td>25</td>
                    <td>100 000 HUF</td>
                    <td>25 000 HUF</td>
                </tr>
            </tfoot>
        </table>
        <p class="title">Eszközök</p>
        <table class="table is-fullwidth is-small">
            <thead>
                <tr class="is-size-7-touch">
                    <th class="is-narrow">#</th>
                    <th class="is-narrow">Név</th>
                    <th class="is-hidden-touch">Leírása</th>
                    <th>Főkönyvi számla</th>
                    <th>Elszámolási számla</th>
                    <th>ÉCS kulcs</th>
                    <th class="is-narrow is-hidden-touch">Maradványérték</th>
                    <th>Aktiválás dátuma</th>
                </tr>
            </thead>
            <tbody>
                <tr class="is-size-7-touch" *ngFor="let asset of model">
                    <td>{{asset.id}}</td>
                    <td>
                        <a [routerLink]="['./', asset.id]">{{asset.name}}</a>
                    </td>
                    <td class="is-hidden-touch">{{asset.description}}</td>
                    <td class="is-narrow">{{asset.account}}</td>
                    <td class="is-narrow">{{asset.account_clearing}}</td>
                    <td class="is-narrow">{{asset.depreciation_key}}%</td>
                    <td class="is-narrow is-hidden-touch">{{asset.residual_value}} HUF</td>
                    <td class="is-narrow">{{asset.date_activated | date:'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>