<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <p class="subtitle is-5">#234234234</p>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquam porro, libero
                    debitis similique excepturi!</p>
                <p class="is-6">Teljesítés dátuma: 2019-01-01</p>
                <p class="content">Könyvelte: @mezeipetister</p>
                <p class="has-text-grey content">Könyvelés dátuma: 2019-01-01 13:22</p>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification">
                                    <p class="title is-4">Tartozik</p>
                                    <p class="subtitle">161</p>
                                    <p>Beruházás</p>
                                </article>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title is-4">Követel</p>
                                <p class="subtitle">3841</p>
                                <p>Peti bank</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>