<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Számlatükör</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-success" routerLink="./new">Új számla</button>
                </div>
            </div>
        </nav>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="is-narrow">#</th>
                    <th>Név</th>
                    <th class="is-hidden-mobile">Leírás</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="is-narrow">
                        <a routerLink="./1">161</a>
                    </td>
                    <td>Beruházás</td>
                    <td class="is-hidden-mobile">Ide jön minden beruházás</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>