<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="title">Audi LBG-397</p>
                <form>
                    <div class="field">
                        <label class="label">Eszköz neve</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa eszköz">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Eszköz rövid leírása</label>
                        <div class="control">
                            <textarea name="description" cols="30" rows="5" class="textarea"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">ÉCS kulcs (%)</label>
                        <div class="control">
                            <input type="number" class="input" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Maradványérték</label>
                        <div class="control">
                            <input type="number" class="input" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Aktiválás dátuma</label>
                        <div class="control">
                            <input type="date" class="input" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-success is-outlined">Mentés</button>
                                <button class="button is-danger is-outlined">Törlés</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Hónap</th>
                            <th>ÉCS értéke</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2019-01</td>
                            <td>1.700</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>