<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <p class="title">Új tétel</p>
                <form>
                    <div class="field">
                        <label class="label">Megnevezés</label>
                        <div class="control">
                            <textarea class="textarea" name="event" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tartozik</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="text" class="input" placeholder="Tartozik">
                        </div>
                        <div class="control">
                            <button class="button">+</button>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tartozik</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="text" class="input" placeholder="Követel">
                        </div>
                        <div class="control">
                            <button class="button">+</button>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Teljesítés dátuma</label>
                        <div class="control">
                            <input type="date" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-success">Hozzáad</button>
                                <button class="button is-success is-outlined">Hozzáad és új</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>