<section class="section">
    <div class="container">
        <!--         
        Search field mobile view -->
        <div class="columns is-hidden-desktop">
            <div class="column has-text-centered">
                <div class="field is-grouped">
                    <div class="control has-icons-left is-expanded">
                        <input class="input" type="text" placeholder="Szűrés">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <div class="control">
                        <input type="date" class="input">
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        Search field desktop view -->
        <nav class="level is-hidden-touch">
            <div class="level-left">
                <div class="level-item">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Szűrés">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <input type="date" class="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right is-hidden-mobile">
                <div class="level-item">
                    <!-- <button class="button is-outlined is-success is-normal" routerLink="./new">Új tétel</button> -->
                </div>
            </div>
        </nav>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="is-narrow">#</th>
                    <th>Megnevezés</th>
                    <th class="is-narrow">Egyenleg</th>
                </tr>
            </thead>
        </table>
    </div>
</section>