{{#*inline "page"}}
<!-- 
Login ERROR -->
<section class="section">
    <div class="container">
        <p class="has-text-centered title is-spaced">Login failed!</p>
        <p class="subtitle has-text-centered is-size-6">
            Oooops! <br>
            Wrong username or password.
        </p>
        <div class="columns is-mobile">
            <div class="column is-6-mobile is-offset-3-mobile is-4-desktop is-offset-4-desktop">
                <div class="field">
                    <div class="control has-text-centered">
                        <div class="button-group">
                            <button class="button">Try again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/inline}}
{{~> (parent)~}}