{{#*inline "page"}}
<!-- 
Login -->
<section class="section">
    <div class="container">
        <p class="has-text-centered title is-spaced">Login</p>
        <p class="subtitle has-text-centered is-size-6">BIT online financial <br> and project information system</p>
        <div class="columns is-mobile">
            <div class="column is-6-mobile is-offset-3-mobile is-4-desktop is-offset-4-desktop">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g John Smith">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="strong password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="button-group">
                            <a class="button is-info is-outlined" href="/">Login</a>
                            <a class="button" href="/login/reset_password">Forget password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/inline}}
{{~> (parent)~}}