{{#*inline "page"}}
<!-- 
Reset password -->
<section class="section">
    <div class="container">
        <p class="has-text-centered title is-spaced">Reset password</p>
        <p class="subtitle has-text-centered is-size-6">Please type your email address. <br>
            We are going to create a new password and <br> send it to your email address.</p>
        <div class="columns is-mobile">
            <div class="column is-6-mobile is-offset-3-mobile is-4-desktop is-offset-4-desktop">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g john.smith@company.com">
                    </div>
                </div>
                <div class="field">
                    <div class="control has-text-centered">
                        <div class="button-group">
                            <a class="button" href="/login/reset_password/success">Send me a new password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/inline}}
{{~> (parent)~}}