{{#*inline "page"}}

<!--     
Profile NEW PASSWORD -->
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <p class="is-size-3">Settings / Password</p>
                <p class="subtitle">Please type your new password twice.</p>
            </div>
        </div>
        <div class="field">
            <label class="label">New password</label>
            <div class="control">
                <input class="input" type="password" placeholder="e.g. strong_password">
            </div>
        </div>
        <div class="field">
            <label class="label">New password again</label>
            <div class="control">
                <input class="input" type="password" placeholder="e.g. strong_password">
            </div>
        </div>
        <div class="field">
            <div class="button-group">
                <button class="button is-info is-outlined">Change password</button>
                <button class="button">Cancel</button>
            </div>
        </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}