{{#*inline "page"}}

<!-- 
Profile settings -->
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <p class="is-size-3">Settings</p>
            </div>
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input is-static" type="text" placeholder="e.g johnsmith" value="@johnsmith" readonly>
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" value="alexsmith@gmail.com">
            </div>
        </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g John Smith" value="John Smith">
            </div>
        </div>
        <div class="field">
            <div class="button-group">
                <button class="button is-info is-outlined">Save</button>
                <button class="button">Change password</button>
                <button class="button">Cancel</button>
            </div>
        </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}