{{#*inline "page"}}

<!-- 
Team add member-->
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <p class="content is-size-3">Team</p>
            </div>
        </div>
        <div class="field">
            <label class="label">Username or email</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g johnsmith">
            </div>
        </div>
        <div class="field">
            <div class="button-group">
                <button class="button is-info is-outlined">Add user</button>
                <button class="button">Cancel</button>
            </div>
        </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}