{{#*inline "page"}}

<!-- 
Users -->
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <p class="content is-size-3">Users</p>
            </div>
            <div class="column has-text-right">
                <button class="button">
                    <span class="icon is-small">
                        <i class="far fa-plus-square"></i>
                    </span>
                    <span>Add user</span>
                </button>
            </div>
        </div>
        <table class="table is-striped">
            <tr>
                <td>@mezeipetister</td>
                <td>Mezei Péter</td>
                <td>mezeipetister@gmail.com</td>
                <td>
                    <div class="button-group">
                        <a class="button is-small">
                            <span class="icon">
                                <i class="fas fa-key"></i>
                            </span>
                            <span>Reset password</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>@beganyikriszta</td>
                <td>Mezeiné Bégányi Krisztina</td>
                <td>beganyikriszta@gmail.com</td>
                <td>
                    <div class="button-group">
                        <a class="button is-small">
                            <span class="icon">
                                <i class="fas fa-key"></i>
                            </span>
                            <span>Reset password</span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}