{{#*inline "page"}}

<!-- 
Users Add new user -->
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <p class="is-size-3">Users</p>
                <p class="subtitle">Add new user</p>
            </div>
        </div>
        <form action="/admin/user/new" method="POST">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="e.g johnsmith" name="id" autofocus>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name="email">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="e.g John Smith" name="name">
                </div>
            </div>
            <div class="field">
                <div class="button-group">
                    <button class="button is-info is-outlined" type="submit">Add user</button>
                    <a href="." class="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}