<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} - BIT</title>
  <link rel="stylesheet" href="/static/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="content">
          <span class="icon">
            <i class="fab fa-earlybirds fa-10x"></i>
          </span>
        </p>
        <h1 class="title">
          Oooo. Page not found.
        </h1>
      </div>
    </div>
  </section>
</body>

</html>